[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]

[programs.localnet]
identity_score = "7dTkLRoAkjVFnLvbPoPhxFFXLNAwg7VfDw798GjEZ4xk"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"
